<!DOCTYPE html>
<html>
<head>
    <title>Acciones para reducir el cambio climático</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav-menu">
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('noticias') }}">Noticias</a></li>
                <li><a href="{{ url_for('donaciones') }}">Donaciones</a></li>
                <li><a href="{{ url_for('articulos') }}">Artículos</a></li>
            </ul>
            <a href="/logout" class="logout-link">Cerrar sesión</a>
        </nav>
    </header>

    <main class="container">
        <h1>Acciones para reducir el cambio climático</h1>
        <p>CONTENIDO</p>
    </main>
</body>
</html>
